@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-primary: #457CE2;
  --color-secondary: #06234B;
  --color-tertiary: #FF9E69;
  --color-decorative: #FFD1A7;
  --color-text: #04152D;
  --color-subtleText: #727988;
  --color-stroke: #E5E5EB;
  --color-accent: #424F65;
  --color-light: #EEEFF9;
  --color-warmLight: #FFF7F3;
  --color-success: #4FD365;
  --color-error: #FF604B;
  --color-secondary-500: #1A1C1E;
}
